/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#landing-page {
	height: 50vh;
	background-image: url(https://images.pexels.com/photos/73873/star-clusters-rosette-nebula-star-galaxies-73873.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
	background-repeat: no-repeat;
	background-position: center;
	/*flex-direction: column;
	display: flex;
	align-items: center;
	background-color: #274472;
	color: #C3E0E5;*/

}

#icon {
	width: 30px;
	height: 30px;

}

#gmp-canvas {
	align-items: center;
	height: 60vh;
	widows: 100%;
}

li {
	list-style-type: none;
}
