/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #2B7C85;
	font-family: 'Poppins', sans-serif;
	display: flex;
	
}

h2 {
	text-align: center;
	color: white;
}

form {
	align-items: center;
	background-color: #87ACA3;
	border: 2px solid black;
	color: white;
	text-align: center;
}

input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: black;
	width: 100%;
}

button	{
	color: white;
	background-color: #0C1446;
	border-radius: 15px;
	box-shadow: 0 2px 4px; rgba(0, 0, 0, 0.3)
	padding: 2px;
	margin-top: 2px;

}

select {
	border-width: 2px;
	border-style: solid;
	border-color: black;
	width: 100%;
}

#gmp-canvas {
	height: 100vh;
	width: 100%;
}

